* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pixelify";
  src: url("./Fonts/Pixelify_Sans/PixelifySans-Medium.ttf") format("truetype");
}

html {
  min-height: 100%;
  background: url(./assets/xChy58V.png) repeat;
  background-size: cover;
  font-family: "Pixelify", sans-serif;
  animation: moveBg 20s linear infinite;
}

@keyframes moveBg {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1000px;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

#canvas {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(./wintertileset/png/BG/BG.png) center center/ cover no-repeat
    fixed;
  display: none;
  z-index: 200;
}

#main-menu, #difficulty-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: 4px;
}

#main-menu h1, #difficulty-menu h1 {
  margin-bottom: 10px;
  font-size: 6.5em;
  color: #e0e8ff; /* soft light blue */
}

#main-menu div, #difficulty-menu div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#main-menu button, #difficulty-menu button {
  width: 100%;
  max-width: 60%;
  background: #3a6ea5; /* deep blue */
  display: block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 10px;
  font-family: "Pixelify", sans-serif;
  text-decoration: none;
  color: #e0e8ff; /* soft light blue */
  box-shadow: inset -4px -4px 0px 0px #274472;
  transition: transform 0.2s ease, color 0.2s ease;
}

#main-menu button:hover,
#main-menu button:focus,
#difficulty-menu button:hover,
#difficulty-menu button:focus{
  background: #5d92e7; /* darker blue */
  box-shadow: inset -6px -6px 0px 0px #19335c;
  animation: bounce 0.6s ease-in-out infinite;
}

#main-menu button:active,
#difficulty-menu button:active {
  box-shadow: inset 4px 4px 0px 0px #19335c;
}

#main-menu button::after,
#main-menu button::before,
#difficulty-menu button::after,
#difficulty-menu button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

#main-menu button::before,
#difficulty-menu button::before {
  top: -6px;
  left: 0;
  border-top: 6px rgba(60, 90, 150, 0.5) solid;
  border-bottom: 6px rgba(60, 90, 150, 0.5) solid;
}

#main-menu button::after,
#difficulty-menu button::after {
  left: -6px;
  top: 0;
  border-left: 6px rgba(60, 90, 150, 0.5) solid;
  border-right: 6px rgba(60, 90, 150, 0.5) solid;
}
